@mixin button-pagination {
  border-radius: 1rem;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    @include btn-anim;
  }
}

.pages {
  display: flex;
  justify-content: center;
  margin: 6rem 0;

  .arrow {
    font-size: 3rem;
    padding: 0.5rem;
    @include button-pagination;
  }

  .page,
  .currentPage {
    padding: 1rem;
    @include button-pagination;
  }
  .currentPage {
    box-shadow: 0 0.5rem 2rem rgba($color-dark, 0.2);
  }
}
