/////////////////////////////////////
// CONTAINER
.container {
  width: clamp(40rem, 90%, 100rem);
  margin: 4rem auto 0;
  position: relative;
}

////////////////////////////////////
// BUTTON
.btn_color_1 {
  background-image: linear-gradient(310deg, $gradient-1-start, $gradient-1-finish);
  color: $color-white;
}

.btn_color_2 {
  background-image: linear-gradient(310deg, $gradient-2-start, $gradient-2-finish);
  color: $color-white;
}

////////////////////////////////////
// TEXT-GRADIENT
.text_color_1 {
  background-image: linear-gradient(310deg, $gradient-1-start, $gradient-1-finish);
  -webkit-background-clip: text;
  color: transparent;
}

.text_color_2 {
  background-image: linear-gradient(310deg, $gradient-2-start, $gradient-2-finish);
  -webkit-background-clip: text;
  color: transparent;
}

/////////////////////////////////////
// INPUT
.input_r {
  padding: 0.8rem 1.2rem;
  border: 1px solid $input-border-color;
  border-radius: 0.8rem;
  line-height: 2rem;
  margin-bottom: 1.6rem;

  &:focus-visible {
    outline: none;
  }
}

@mixin box($c1) {
  border-radius: 1rem;
  background-color: rgba($color-white, $c1);
  border: 1px solid $color-white;
  backdrop-filter: saturate(200%) blur(3rem);
}

@mixin box-standart($c1: 0.5, $c2: 1) {
  border-radius: 2rem;
  background-color: rgba($color-white, $c1);
  border: 1px solid rgba($color-white, $c2);
  //backdrop-filter: saturate(200%) blur(3rem);
}

@mixin btn-standart {
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  outline: none;
  border: none;
}

@mixin panel-base {
}

.dis-none {
  display: none;
}

@mixin icon-button {
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.2s;
  @include btn-anim;
  font-size: 3rem;
}

@mixin repo-url-button {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgba($color-white, 0.5);
  color: $font-color-dark;
  font-size: 2rem;
  transition: all 0.3s;

  i {
    font-size: 3rem;
  }

  &:hover {
    background-image: linear-gradient(310deg, $gradient-2-start, $gradient-2-finish);
    @include btn-anim;
  }
}
