$color-dark: #000;
$color-white: #fff;

$gradient-1-start: #7928CA;
$gradient-1-finish: #FF0080;
$gradient-2-start: #2152FF;
$gradient-2-finish: #21D4FD;

$font-color-dark: #252f40;
$font-color-grey: #67748e;
$font-color-white: #ffffff;

$container-w: 120rem;

$input-border-color: #d2d6da;

$bg-color: #f8f9fa;