//@use '../../style/base.scss' as *;
.register {
  transition: all 1s;
 
}
.wrapper {
  .row {
    display: flex;
    flex-wrap: wrap;

    .col {
      flex: 1 1 50%;
      height: 65vh;
      z-index: 1;
    }
  }
}


.img-panel {
  position: absolute;
  top: -2rem;
  right: 0;
  width: 100%;
  min-height: 75%;

  transform: skewX(-10deg);
 

  &-wrapper {
    border-bottom-left-radius: 2rem;
    position: absolute;
    background-image: url("../../../img/fon-1.png");
    background-size: cover;
    height: 100%;
    min-height: 75vh;
    top: 0;
    right: 0;
    width: 60%;
    z-index: -1;
    margin-right: -30rem;
  }
}

.to-right-close {
  //animation: toRight;
  transition: all 1s;
  transform: translateX(100%);
  opacity: 0;
}

.to-right-open {
  animation: toRightOpen;
  animation-duration: 1s;
}
