.repo {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &-title {
      font-size: 30px;
    }

    &-stars {
      display: flex;

      i {
        margin-right: 5px;
      }
    }
  }
  &__body {
    

    &-update {
      margin-bottom: 10px;
    }
    &-url {
      display: inline-block;
      padding: 10px;
      background-color: rgb(175, 175, 175);
      border-radius: 2rem;
      font-size: 16px;
      &:hover {
        background-color: rgb(99, 99, 214);
        
      }
    }
  }
  
}