.header {
  position: sticky !important;
  top: 1rem;
  width: 100%;
  margin: 0 auto;
  background-color: inherit;
  border-radius: 1rem;

  z-index: 1000;
  transition: width .4s;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: nowrap;

    padding: 0.5rem;

    .left {
      display: flex;
      justify-content: start;
      flex: 0 1 40%;

      .nav {
        display: flex;
        margin-left: 1rem;

        .button_go_back {
          padding: 1rem;
          border-radius: 1rem;
          font-size: 3rem;
          transition: all .2s;
          @include btn-anim;
        }
      }
    }

    

    .right {
      display: flex;
      justify-content: start;
      flex: 0 1 40%;

      margin-left: 1rem;

      .login_button {
        padding: 1rem;
        border-radius: 1rem;
        transition: all .2s;
        @include btn-anim;
        font-size: 3rem;
      }
    }
  }
 
}

.scroll {
  @include box-standart(.5);
  @include shadow-box-standard;
  transition: width .5s;
  width: 95%;
  margin: 0 auto;
}



